.pie-chart-header {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    color: #ffffffe7;
}
.pie-chart-title {
    font-size: 18px;
    color: #ffffffe7;
    font-weight: 600;
}

.pie-chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    gap: 20px;
    color: #ffffffe7;
}
.pie-chart{
    width: 180px;
    height: 180px;
    background: #0000003c;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #585858;
}
.category-list{
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: scroll;
    max-height: 180px;
}
.category-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.category-text{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.category-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}