.pie-chart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    gap: 10px;
}
.pie-chart{
    width: 200px;
    height: 200px;
    background: #0000003c;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #585858;
}