.user {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 5px;
    width: 48px;
    height: 48px;
    background-color: #b5cdfc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2e2e2e;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    user-select: none;
    box-shadow: 0 0 5px 0px #272727;
}
.user-display {
    width: 220px;
    position: absolute;
    top: 55px;
    left: 0;
    margin: 15px;
    padding: 15px;
    background-color: #b5cdfc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    z-index: 1;
}
.user-info{
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.user-title {
    font-weight: 800;
    border-bottom: 1.8px solid #2e2e2e;
}
.logout {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
}
.user-display > .logout > i{
    font-size: 20px;
    color: #2e2e2e;
}