.lists{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 38vh;
    margin-bottom: 20px;
    gap: 1.5rem;

}
.list {
    border-radius: 1rem;
    padding: .5rem;
    min-width: 300px;
}
.list-body {
    max-height: 400px;
    overflow-y: auto;
}
.lists-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    color: #27254f;
}
