.lists {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 38vh;
    margin-bottom: 20px;
    gap: 1.5rem;

}

.list {
    margin-top: 3.5rem;
    border-radius: 1rem;
    padding: .5rem;
    min-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px, rgba(0, 0, 0, 0.23) 0px 0px 4px;
    background: #fff;
    height: fit-content;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.list-title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    color: #27254f;
}

.add {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.add svg {
    height: .8rem;
    width: .8rem;
}

.add-1 {
    border: 2px solid #374785;
}

.add-1 svg {
    fill: #374785;
}

.add-2 {
    border: 2px solid #f76c6c;
}

.add-2 svg {
    fill: #f76c6c;
}