.get-amount-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.get-amount-inputs {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.get-amount-inputs input {
    min-width: 180px;
}
.get-amount-select{
    min-width: 180px;
    display: flex;
    align-items: center;
    border-bottom: 1.8px solid #656565;
    position: relative;
}
.get-amount-categories {
    color: #313131;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 7px 30px 7px 6px;
    font-size: 14px;
}
.icon-container{
    color: #404040;
    position: absolute;
    right: 0;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container i { 
    padding: 5px;

}
.get-amount-categories option {
    margin: 20px 0;
}
.get-amount-inputs input {
    /* background: #4fc4fb; */
    background: none;
    border: none;
    border-bottom: 1.8px solid #656565;
    padding: 7px;
    outline: none;
    /* border-radius: 4px; */
}

.get-amount-buttons {
    margin: 10px;
    display: flex;
    gap: 25px;
}
.add-amount {
    padding: 4px 0;
    background: none;
    border: none;
    font-size: 18px;
    display: block;
    cursor: pointer;
    transition: all .3;
    padding: 8px 10px;
    border-radius: 15px;
}
.budget {
    color: #2a98ed;
    border: 1.8px solid #2a98ed;
    transition: all .2s;
}
.budget:hover {
    background:#2a98ed;
    color: #fff;
}

.expense {
    color: #333065;
    border: 1.8px solid #333065;
    transition: all .2s;
}
.expense:hover {
    background:#27254f;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}