.get-amount-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get-amount-inputs {
    margin: 10px;
    display: flex;
    gap: 25px;
}
input {
    padding: 7px 7px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.get-amount-buttons {
    margin: 10px;
    display: flex;
    gap: 25px;
}
.add-amount {
    padding: 4px 0;
    background: none;
    border: none;
    font-size: 18px;
    display: block;
    cursor: pointer;
    transition: all .3;
    padding: 8px 10px;
    border-radius: 15px;
}
.budget {
    color: #2a98ed;
    border: 1.8px solid #2a98ed;
    transition: all .2s;
}
.budget:hover {
    background:#2a98ed;
    color: #fff;
}

.expense {
    color: #333065;
    border: 1.8px solid #333065;
    transition: all .2s;
}
.expense:hover {
    background:#27254f;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}