.header {
    padding-top: 20px;
    background-color: #120a6c;
    box-shadow: 0 0 10px 4px  #212121;
    min-height: 50vh;
    width: 100%;
}
.slider-container{
    padding: 20px 20px 30px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.slider{
    width: 700px;
    height: 90%;
    position: relative;
    padding: 0 30px;
}
.slider-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    user-select: none;
}
.slider-button > svg {
    width: 30px;
    height: 30px;
}

.next-slide {
    right: .2rem;
    fill: #ffffff66;
}

.prev-slide {
    left: .2rem;
    fill: #ffffff66;
}
.prev-slide > svg {
    transform: rotate(180deg);
}
.slider-button > svg:hover{
    fill: #ffffffe6;
}
