.list-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.bar{
    height: 80%;
    width: 5px;
    border-radius: 10px;
    background: #336cfa;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.list-item-info {
    grid-column: 1 / 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}
.list-item-category {
    text-transform: capitalize;
    font-weight: 540;
    font-size: 1.1rem;
}
.list-item-description {
    color: #a8a8a8;
}
.list-item-payment {
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.list-item-date {
    color: #a8a8a8;
}
.list-item-delete {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}
.list-item-delete > i{
    font-size: 18px;
    transition: all .2s ease-in;
}
.list-item-delete > i:hover{
    font-size: 20px;
}



