.form input {
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
}

.form {
    width: 300px;
    min-height: 400px;
    background: #fff;
    padding: 30px 20px;
    box-shadow: 0 0 4px 1px #a8a8a8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #727272;
    margin-bottom: 18px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-container {
    width: 80%;
}

.input-container>input {
    width: 99%;
    border-bottom: 1.8px solid #878787;
    color: #727272;
}

.input-container>label {
    color: #44a8f4;
    font-weight: 700;
    font-size: 15px;
}

.input-password {
    width: 100%;
    border-bottom: 1.8px solid #878787;
    border-radius: 0px;
    color: #727272;
    display: flex;
    justify-content: space-between;
}

.input-password>input {
    width: 100%;
    color: #727272;
}

.submit {
    border: none;
    background: #44a8f4;
    width: 70%;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    color: #fff;
    margin-top: 5px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form>button:hover {
    background: #037bd6;
}

.submit-loader {
    height: 30px;
    width: 30px;
    border: 3px solid #dddd;
    border-top: 3px solid #989898;
    border-radius: 50%;
    animation: loader 1s ease infinite;
}

.show-password {
    user-select: none;
    cursor: pointer;
    color: #606060;
}

.show-password svg {
    height: 30px;
    width: 30px;
    fill: none;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.show-password svg path {
    stroke: #606060;
}

.ask-to-login {
    text-align: center;
    margin: 10px;
    color: #606060;
}

.ask-to-login>button {
    background: none;
    border: none;
    width: fit-content;
    color: #046ec0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: color .3s;
}

.ask-to-login>button:hover {
    color: #014477;
}

.error-message {
    color: red;
    font-size: 11px;
    width: 70%;
    align-items: start;
}

.invalid {
    border-bottom: 1.8px solid red !important;
}